 <h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>Edit article
                    {{#if user.isAdmin}}
                        <div class="controls">
                            {{#unless isLocked}}
                                <a href="/articles/lock/{{_id}}">Lock article</a>
                            {{else}}
                                <a href="/articles/unlock/{{_id}}">Unlock article</a>
                            {{/unless}}
                        </div>
                    {{/if}}
                    </h2>
                    <div class="spacer">
                        <form method="POST">
                            <label>Article title</label>
                            <h3>{{title}}</h3>
                            <label>Content</label>
                            <textarea name="content">{{#withLast edits}}{{content}}{{/withLast}}</textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>