            <form method="post">
			  <h2>{{#if product}}Edit{{else}}Create{{/if}} Product</h2>
			  <div>
				<label for="category">Category</label>
				<select name="category" id="category">
				  <option value="Beef" {{#eq product.category.name 'Beef'}}selected{{/eq}}>Beef</option>
				  <option value="Chicken" {{#eq product.category.name 'Chicken'}}selected{{/eq}}>Chicken</option>
				  <option value="Lamb" {{#eq product.category.name 'Lamb'}}selected{{/eq}}>Lamb</option>
				</select>
			  </div>
			   <div>
				<label for="imageUrl">Image Url</label>
				<input id="imageUrl" name="image" type="text" value="{{product.image}}">
			  </div>
			  <div>
				<label for="size">Size</label>
				<input id="size" name="size" type="number" value="{{product.size}}">
			  </div>
			  <div>
				<strong>Toppings</strong><br>
				<textarea name="toppings">{{product.toppings}}</textarea>
			  </div>
			  <div>
				<input type="submit" value="{{#if product}}Edit{{else}}Create{{/if}}" class="button" style="border:0"/>
			  </div>
			</form>
