extends ../layout

block content
    .content
        .car-rent
            h2 Model: #{model}
            img(src=`${image}`)
            .car-rent-info
                p Class: #{priceClass.name}
                p Color: #{color}
                p Kilometres driven: #{km}
                p Price Per Day:
                    span#pricePerDay #{pricePerDay} lv.                       
                p#total Total Price: 0 lv.
            form(action=`/cars/rent/${_id}`, method='post')
                .form-group
                    input#days.form-control(placeholder='Days to rent', name='daysToRent', type='number')
                input.btn.btn-sm.btn-success(type="submit", value='Rent')