<section id="viewDetailsAd">
    <div>
        <img src="{{image}}" height="200" width="300">
        <br>
        <label>Title: </label>
        <h1>{{title}}</h1>
        <label>Description: </label>
        <p>{{description}}</p>
        <label>Publisher: </label>
        <div>{{publisher}}</div>
        <label>Date: </label>
        <div>{{datePublished}}</div>
        <label>Views: </label>
        <div>{{viewCount}}</div>
    </div>
</section>