extends ../layouts/main

block content    
    h2 Add new flight
    form(action='/flights/add', method='post')
        label Destination:
        input(type='text', name='destination', placeholder='Destination', value=destination)
        label Origin:
        input(type='text', name='origin', placeholder='Origin', value=origin)
        label Date:
        input(type='date' name='departureDate', value=departureDate)
        label Time:
        input(type='time' name='departureTime', value=departureTime)
        label Image:
        input(type='text' name='image', value=image)
        input.create(type='submit', value='Create')
