extends ../layouts/main

block content   
    form.catalog-form(action='')
        label Destination:
        input(type='text', placeholder='Destination')
        label Origin:
        input(type='text', placeholder='Origin')
        label Departure:
        input(type='text', placeholder='Departure')
        input.search(type='submit', value='Search')
        a.add-flight(href='/flights/add') Add Flight +
    section.added-flights
        each flight in flights       
            a.added-flight(href=`/flights/details/${flight._id}`)
                img.picture-added-flight(src=`${flight.image}`, alt='')
                h3=flight.destination
                span from #{flight.origin}
                span #{flight.departureDate.toLocaleDateString('en-GB')}