extends ../layouts/main

block content
    section.ticket-area
        .ticket-area-left
            img(src=`${flight.image}`, alt='')
        .ticket-area-right
            h3=flight.destination
            div from #{flight.origin}
            .data-and-time
                | #{flight.departureDate.toLocaleDateString('en-GB')} #{flight.departureTime}   
                if user.isAdmin
                    a.edit-flight-detail(href=`/flights/edit/${flight._id}`)
                    if flight.public === false
                        a.publish-flight-detail(href=`/flights/publish/${flight._id}`) Publish
    section.seat-info
        if user.isAdmin
            form.seat-form(action='/seats/create/', method='post')
                input(type='hidden', name='flight' ,value=flight._id, placeholder='Price')
                input(type='text', name='price' placeholder='Price')
                input(type='text', name='type' placeholder='Type')
                input(type='number', name='count', min='1', max='999', placeholder='Tickets Counter')
                input.create-seat(type='submit', value='Create Seat')
    each seat in flight.seats
        section.flight-details
            form.seat-form(action=`/cart/addFlight/${flight._id}`, method='post')
                span #{seat.price}$
                span #{seat.type}   
                input(type='hidden', name='type', value=seat.type)
                input(type='hidden', name='price', value=seat.price)                
                input(type='text', name='ammount', placeholder='Add Number')
                input.create-seat(type='submit', value='Add to Cart')
                if user.isAdmin
                    a.delete(href=`/seats/delete/${seat._id}`) X  