<h1>Customize your order</h1>
            <div class="catalog">
                <div class="column">
                    <img src="{{product.image}}">
                </div>
                <div class="column">
                    <h2>{{product.category.name}} doner, {{product.size}}cm</h2>
                    <h3>Toppings</h3>
                    <div class="toppings">
                        <form action="/orders/customize/{{product._id}}" method="POST">
                            <input name="product_id" type="hidden" value="{{product._id}}">
                            {{#each product.toppings}}
                            <input name="topping0{{@index}}" type="checkbox" value="{{this}}"checked><label for="topping0{{@index}}"> {{this}}</label><br>                            
                            {{/each}}
                            <input type="submit" class="button" value="Checkout">
                        </form>
                    </div>                    
                </div>
            </div>