extends ../layout

block content
    .col-md-4
            .login-panel.panel.panel-default
                .panel-heading
                    h3.panel-title Add Car
                .panel-body
                    form(role='form', action='/cars/add', method='post')
                        fieldset
                            .form-group
                                input.form-control(placeholder='Model Name', name='model', type='text', value=model autofocus='')
                            .form-group
                                input.form-control(placeholder='Image URL', name='image', type='text', value=image)
                            .form-group
                                input.form-control(placeholder='Kilometers', name='km', type='number', value=km)
                            .form-group
                                input.form-control(placeholder='Color', name='color', type='text', value=color)                            
                            .form-group
                                input.form-control(placeholder='Price Per Day', name='pricePerDay', type='number', value=pricePerDay)    
                            .form-group
                                select.input-field(name='priceClass')
                                    each pClass in pClasses
                                        if pClass.id === priceClass
                                            option(value=`${pClass._id}`, selected)=pClass.name
                                        else
                                            option(value=`${pClass._id}`)=pClass.name                     
                                
                            input.btn.btn-sm.btn-success(type="submit", value='Add')
    br      