extends ../layout

block content
    .content    
        each car in cars
            .col-md-2.column.carbox
                img.img-responsive(src=car.image)
                .cartitle Model: #{car.model}
                .cartprice
                    .pull-right
                    if user
                        a.btn.btn-danger.btn-sm-left(href=`/cars/rent/${car._id}`, role='button') RENT
                    if user && user.roleNames.includes('Admin')
                        a.btn.btn-danger.btn-sm-right(href=`/cars/edit/${car._id}`, role='button') EDIT
                    .pricetext Price Per Day: #{car.pricePerDay} lv.

    